go 1.22

use (
	./build/tools
	./contracts
	./cosmos
	./e2e/localnet
	./e2e/precompile
	./e2e/testapp
	./eth
	./lib
)

replace github.com/cosmos/cosmos-sdk => github.com/rollkit/cosmos-sdk v0.50.7-rollkit-v0.13.3-no-fraud-proofs
